/* style.css */

.carousel {
  height: 600px;
  position: relative;
  width: 80%;
  margin: 0 auto;
  outline: 3px dashed red;
}

.carousel__track-container {
  position: relative;
  height: 100%;
}

.carousel__track {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

.carousel__slide {
  position: absolute;
  /* top: 0; */
  /* bottom: 0; */
  height: 100%;
  width: 100%;
}

.carousel__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 150px;
  width: 25px;
  cursor: pointer;
}

.carousel__button--left {
  left: -50px;
}

.carousel__button--right {
  right: -50px;
}

.carousel__button > img {
  height: 100%;
  width: 100%;
}

.carousel__nav {
  outline: 3px dashed green;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}

.carousel__indicator {
  --side: 12px;
  height: var(--side);
  width: var(--side);
  background: #cccccc;
  border-radius: 50%;
  cursor: pointer;
}
